{% extends 'base.html' %}

{% block content %}

<style>
    input{
        border: solid lightgreen;
        border-radius: 3px;
       
    }
    button{
        text-align: center;
        border: solid sandybrown;
        border-radius: 3px;
        width: 100px;
        height: 50px;
        color: rgb(11, 19, 19);
        background:linear-gradient(#fff, #000);
        
    }
    .calculater{
        border: solid gray;
        width: fit-content;
        text-align: center;
        margin-left: 550px;

    }
</style>
<br><br><br>

<form action="" method="post">
    {% csrf_token%}
    <div class="input">
        <input type="text" name="num1" id="num1" placeholder="enter number" required />
        <br>
        <br>
        <input type="text" name="num2" id="num2" placeholder="enter number" required />
    </div>
    <br><br>
    <div class="calculater">
        <input type="radio" name="calculater" id="add" value="add">
        <label for="add">ADD</label>

        <input type="radio" name="calculater" id="sub" value="sub">
        <label for="sub">SUBSTRACTION</label>

        <input type="radio" name="calculater" id="mul" value="mul">
        <label for="mul">MULTIPLICATION</label>

        <input type="radio" name="calculater" id="div" value="div">
        <label for="div">DIVISION</label>

    </div>
    <br><br>    <div class="submit">
        <button type="submit">Submit</button>
    </div>

    <div class="details">
        <h1>{{sum}}</h1>
    </div>

   












</form>








{% endblock content %}