<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRID</title>

    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css'%}" />

</head>
<body>
    
    <div class="container">
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
  
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        <div class="para">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod eius minima voluptates libero quidem quo sed, possimus quam impedit laboriosam maxime velit ad cumque reiciendis. Eaque incidunt iusto sed corporis.
            </p>
        </div>
        

        
       
        
        </div>

    </div>
    <div class="nk" >
        <h1>{{me}} :butturfly butterfly </h1>
        <h1>{{you}} : where are you going  </h1>
        <h1>{{me}} : hous in the garden </h1>
        <h1>{{you}} :  come again come again</h1>
        <h1>{{me}} : rain will come soon </h1>
        <h1>{{you}} : butterfly butterfly </h1>
    </div>




    <a href="{% url 'fun2' %}"> link</a>
</body>
</html>