<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new form</title>
    <link rel="stylesheet" href="style.css">
    
    
</head>

<body >
    <div class="h1">
    <h1 class="hpn">SRI SHANMUGAM HEALTH CARE <br class="b">PUTTUR</h1>
    <img src="Screenshot 2024-02-09 064820.png" alt="">
    </div>
    <div class="p1">
    <h1 class="head">Patient Registration Form </h1>
    </div>
    <div class="container">
        <form action="#">
            <div class="name">
                <span>Name:</span>
                <input type="text" placeholder="Enter first name">
                <input type="text" placeholder="Enter second name">
            </div>
            <div class="contact">
                <span>Contact:</span>
                <input type="number" placeholder="PH.no">
            </div>
            <div class="email">
                <span>Email:</span>
                <input type="email" placeholder="Email">
            </div>
            <div class="Age">
                <span>Age:</span>
                <input type="text" name="" id="" placeholder="Age">

            </div>
           
            <div class="Address:">
                <span>Address:</span>
            <input type="text" placeholder="postal/zip-code">
            <input type="text" placeholder="street">
            <input type="text" placeholder="state">
            <input type="text" placeholder="Door.no">
            </div>     


            </div>

        </form>
        <div class="gender">
            <label for="">Gender:</label>
            <input type="radio" name="gender" id="MALE">
            <label for="MALE">MALE</label>
            <input type="radio" name="gender" id="FEMALE">
            <label for="FEMALE">FEMALE</label>
            <input type="radio" name="gender" id="OTHERS">
            <label for="OTHERS">OTHERS</label>
        </div>

    

    </div>

    <div style="text-align: center;">
        <h1> {{ fath }} : johny johny</h1>
        <h1> {{ son }}  : Yes papa</h1>
        <h1> {{ fath }} : eating sugar</h1>
        <h1> {{ son }}  : no papa</h1>
        <h1> {{ fath }} : Telling lies</h1>
        <h1> {{ son }}  : no papa</h1>
        <h1> {{ fath }} : Open your mouth</h1>
        <h1> {{ son }}  : ha ha ha</h1>




    </div>










    

    
    
    <div style="height: 1000px "  > </div>
</body>
</html>