{% extends 'base.html'%}


{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <label for="name">Name :</label>
    <input type="text" name="name" id="name" required>
    <br>

    <label for="age">Age :</label>
    <input type="number" name="age" id="age" required>
    <br>

    <label for="number">Number :</label>
    <input type="number" name="number" id="number" required>
    <br>

    <label for="email">Email :</label>
    <input type="text" name="email" id="email" required>
    <br>

    <input type="submit">


</form>
<br><br><br><br>

{% if name %}
<div class="alert alert-info">
    <h1>hello iam {{name}}</h1>
    <h1>iam {{age}}years old</h1>
    <h1>you can contact me on 91+{{number}}</h1>
    <h1>my email is :{{email}}</h1>


</div>
{% endif %}




{% endblock content%}