<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>{{pop }} :POP CORN POP CORN</h1>
        <h1>{{top }} :SIZZLING IN THE PAN</h1>
        <h1>{{pop }} :SHAKE IT UP, SHAKE IT UP..</h1>
        <h1>{{top }} :BAM.. BAM.. BAM..</h1>
        <br>
        <br>
        <h1>{{pop }} :POP CORN POP CORN </h1>
        <h1>{{top }} :NOW IT IS GETTING HOT</h1>
        <h1>{{pop }} :SHAKE IT UP, SHAKE IT UP..</h1>
        <h1>{{top }} :POP.. POP.. POP..</h1>
    </div>
</body>

</html>