<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{ringa }} : Ringa-ringa roses,</h1>
        <h1>{{rose }} :A pocketful of posies.</h1>
        <h1>{{ringa }} :A-tishoo! A-tishoo!</h1>
        <h1>{{rose }} :We all fall down!</h1>
        <br>
        <br>
        <h1>{{ringa }} :Fishes in the water, </h1>
        <h1>{{rose }} :Fishes in the Sea,</h1>
        <h1>{{ringa }} :We all jump up with a</h1>
        <h1>{{rose }} :One, two, three!</h1>
    </div>
    
    
</body>
</html>