<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background:linear-gradient(skyblue,rgb(236, 48, 79));height: 90vh;">
    <h1 style="color: yellow;background: black;text-align: center;">welcom</h1>
    <div style="border: solid yellow ">
        <h2 style="text-align: center;">{{father}}:{{son}} {{son}}!   </h2>
        <h2 style="text-align: center;">{{son}}: yes papa?  </h2>
        <h2 style="text-align: center;">{{father}}: eating sura?  </h2>
        <h2 style="text-align: center;">{{son}}: No papa  </h2>
        <h2 style="text-align: center;">{{father}}: telling lies  </h2>
        <h2 style="text-align: center;">{{son}}:  No papa </h2>
        <h2 style="text-align: center;">{{father}}: open your mouth   </h2>
        <h2 style="text-align: center;">{{son}}:  ha ha ha... </h2>
        
    </div>
</body>

</html>